
/* General Attributes*/
* {
    
    background-color:#333940;
    
  }
  
  :root {
    --piglet: #E867ED ;
    --snoopy: #fff ;
  }
 /* Main Content */
  
  header {
    width: 96%;
  margin: auto;
  padding: 2.5rem;
  text-align: center;
  }
  
  
  body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    line-height: 1.5;
    color: var(--snoopy);
    flex-direction: row;  
  }

  h1 {
    text-align: center;
     color: var(--piglet) ;
     font-size: 40px;
     }
  
      main {
        display:flex;
        flex-wrap: wrap;
        width: 96%;
        margin: 32px auto;
      }

      h2 {
        padding: 2px;
        background:#333940;
        color: var(--piglet) ;
        border-color: var(--snoopy);
        border-style: solid;
        border-width: 3px;
        border-radius: 15px;
        text-align: left;
        font-size: 150%;
        font-weight: 700;
        position: relative;
        margin-top: -50px;
       }

        pre { 
            display: flex;
          flex-direction:row;
          flex: 1 0 30%;
          }
        .code-CSS { font-family: consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
          'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
          'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
          monospace;
          white-space: pre-line;
          color: var(--snoopy);
          margin-top: 8px;
          border-radius: 16px;
          background-image: linear-gradient(
            rgba(232, 102, 236, 0.3) 0%,
            rgba(232, 102, 236, 0.6) 100%
          );
          }
        .card{
          flex: 1 0 25%;
          padding: 1.5rem;
          text-align: left;
          font-size: 20px;
          outline: 2px dashed var(--snoopy);
          border-width: 3px;
          margin: 20px;
          color: var(--piglet) ;
          margin-bottom: 1.5rem;
          border-spacing: 20px;
          }
  
  
 
  
  
/* Footer */


  footer {
      text-align: center;
      color:var(--snoopy);
      font-family: 'Times New Roman', Times, serif;
      font-size: 150%;
     }
     h3{
       color: var(--piglet);
     }

     a{
       color: var(--piglet);
     }
  
  /* Media */
  
  @media only screen and (max-width: 798px) {
    body {
      flex-direction: column;
      flex: 1 0 50%;
      margin: auto;
      
    }
  
  }
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  }